:root {

    /**
     * COLOR
     */
    --green: #045c5a;
    --primary: #B5A1E5; 
    --on-primary: #100E17; 
    --background: #131214;
    --on-background: #EAE6F2;
    --surface: #1D1C1F;
    --on-surface: #DDDAE5;
    --on-surface-variant: #7B7980; 
    --on-surface-variant-2: #B9B6BF;
    --outline: #3E3D40;
    --bg-aqi-1: #89E589;
    --on-bg-aqi-1: #1F331F;
    --bg-aqi-2: #E5DD89;
    --on-bg-aqi-2: #33311F;
    --bg-aqi-3: #E5C089;
    --on-bg-aqi-3: #332B1F;
    --bg-aqi-4: #E58989;
    --on-bg-aqi-4: #331F1F;
    --bg-aqi-5: #E589B7;
    --on-bg-aqi-5: #331F29;
    --white: hsl(0, 0%, 100%);
    --white-alpha-4: hsla(0, 0%, 100%, 0.04);
    --white-alpha-8: hsla(0, 0%, 100%, 0.08);
    --black-alpha-10: hsla(0, 0%, 0%, 0.1);
  
    /* gradient colors */
    --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
    --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);
  
    /**
     * TYPOGRAPHY
     */
  
    /* font family */
    --ff-nunito-sans: 'Nunito Sans', sans-serif;
  
    /* font size */
    --heading: 5.6rem;
    --title-1: 2rem;
    --title-2: 1.8rem;
    --title-3: 1.6rem;
    --body-1: 2.2rem;
    --body-2: 2rem;
    --body-3: 1.6rem;
    --label-1: 1.4rem;
    --label-2: 1.2rem;
  
    /* font weight */
    --weight-regular: 400;
    --weight-semiBold: 600;
  
    /**
     * BOX SHADOW
     */
  
    --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
    --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
  
    /**
     * BORDER RADIUS
     */
  
    --radius-28: 28px;
    --radius-16: 16px;
    --radius-pill: 500px;
    --radius-circle: 50%;
  
    /**
     * TRANSITION
     */
  
    --transition-short: 100ms ease;
  
  }


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-nunito-sans);
  font-size: 16px;
  scroll-behavior: smooth;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
  font-size: 16px;
  /* font-size: var(--body-3); */
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.logo{
  font-size: 2em;
  color: var(--green);
  user-select: none;
}
nav a{
  position: relative;
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 40px;
  color: var(--green);
  text-decoration: none;
}
nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--green);
  border-radius: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
}
nav a:hover:after{
  transform: scaleX(1);
}
nav button{
  margin-left: 40px;
  font-size: 1.2em;
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--green);
  outline: none;
  border-radius: 8px;
  font-weight: 500;
  color: var(--green);
  cursor: pointer;

}
nav button:hover{
  /* background: white; */
  border-color: white;
  color: white;
}
.card-container{
  position: relative;
  background: transparent;
  width: 25rem;
  height: 27.5rem;
  border-radius: 20px;
  border: 2px solid rgba(255,255,255, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .3s ease, height .2s ease;
}
.card-container.active-popup{
  transform: scale(1);
}
.card-container .form-box{
  padding: 40px;
  width: 100%;
}
.card-container.active{
  height:520px;

}
.form-box.login{
  /* display: none; */
}
.card-container .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}
.card-container.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}
.card-container .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.card-container.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}
.card-container #close-icon{
  position: absolute;
  top:0;
  right:0;
  width: 45px;
  height: 45px;
  background-color: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.form-box h2{
  text-align: center;
  color:#162938;
  font-size: 2em;
}
.form-box .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}
.input-box input:focus ~ label{
  top: -5px;
}

.input-box input{
  font-size: 1rem;
  color: #162938;
  font-weight: 600;
  padding: 12px 35px 0 5px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.input-box span{
  position: absolute;
  right: 8px;
  line-height: 60px;
  color: #162938;
}
.remember-forgot{
  font-size: .9rem;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.remember-forgot label input{
  accent-color: #162938;
  margin-right:5px;
}
.remember-forgot a {
  color: #162938;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.btn{
  width: 100%;
  height: 3rem;
  background-color: #162938;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  font-weight: 500;
}

.btn:active{
  transform: translateY(2px);
}
.login-register{
  font-size: .9rem;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register a{
  color: #162938;
  text-decoration: none;
  font-weight: 600;
  padding-left: 5px;
}
.login-register a:hover{
  text-decoration: underline;
}
